{% extends 'base_blog.html.twig' %}

{% block title %}{{ blog_post.title }}{% endblock %}

{% block content %}
    <!--Title-->
    <div class="container w-full max-w-12xl mx-auto">
        <div class="text-center pt-16 md:pt-32">
            <p class="text-sm md:text-base text-teal-500 font-bold">
                {{ blog_post.createdAt|date('F jS Y') }}
            </p>
            <h1 class="font-bold break-normal text-3xl md:text-5xl">{{ blog_post.title }}</h1>
        </div>
    </div>

    <!--image-->
    <div class="container w-full max-w-12xl mx-auto bg-white bg-cover mt-8 rounded" style="background-image:url('{{ blog_post.headerImage }}'); height: 75vh;"></div>

    <!--Container-->
    <div class="container max-w-8xl mx-auto -mt-32">
        <div class="mx-0 sm:mx-6">
            {{ include('blog/include/tags.html.twig') }}

            <div class="markup bg-white w-full p-8 md:p-24 text-xl md:text-2xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
                {% autoescape false %}
                    {% apply markdown %}
                        {{ blog_post.body }}
                    {% endapply %}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}
